html{
    font-family: "Times New Roman", Times, serif;
	color: #555;
	height:100%;
}
.error{
	color:red;
}
input{
	outline-color:#555;
	background-color:#E3E1D5;
	border: 3px solid white;
	border-radius: 5px;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 8px rgba(0,0,0,0.1); 
    padding: 10px;
	margin: 5px;
    background: rgba(255,255,255,0.5);
	width: 200px;
}
button{
	border-style:none; 
	outline:none;
	color:#CCC;
	background-color:#555;
	padding: 6px 10px;
	border-radius: 10px;
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,1.0),
            0 0 8px rgba(0,0,0,0.1); 
}
button:hover{
	background-color:#777;
}
button:active{
	background-color:#555;
	box-shadow: inset 0 0 8px  rgba(0,0,0,0.5), 0 0 8px rgba(0,0,0,0.1); 
}
label {
	font-size: 18px;
	display: inline-block;
	width:200px;
	text-align: right;
}
body{
	background-color:#F3F1E5;
}
#mainHeader{
	text-align:center;
}
#canvas{
	text-align:center;
	display:none;
}
#myCanvas{
	background-color:#7F7FFF;
	border:1px solid #d3d3d3;
	display:inline;
}
#authForm{
	text-align:center;
	display:none;
}
#newUserForm{
	text-align:center;
}
.switchFormsLink{
	display:block;
	width:200px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
#switchToNewUser{
	display:none;
}